html, body {
  font-family: "Open Sans", sans-serif;
}

header {
  margin: auto;
  width: 90%;
}

strong {
  font-weight: bold;
}

body {
  margin: 0;
}

a {
  color: #000000;
}

a:visited {
  color: #000000;
}

.banner {
  margin-top: 30px;
}
.banner img {
  display: block;
  max-width: 50%;
  margin: 5px auto;
}
.banner p {
  text-align: center;
}

.navigation {
  padding-top: 5px;
  margin: auto auto 30px auto;
  font-weight: bold;
}
.navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style-type: none;
  width: inherit;
  padding: 0;
}
.navigation ul li {
  margin: 5px;
  width: 25%;
  text-align: center;
}

#lucrative {
  margin-top: 25px;
  flex-grow: 0.19;
}

#faq {
  margin-top: 25px;
}

.text-larger {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0;
}

.text-smaller {
  font-size: 0.75em;
}

.search {
  display: flex;
  flex-flow: column;
  padding: 15px 0;
}
.search .search-label {
  align-self: center;
}
.search .search-label p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.search form {
  align-self: center;
  display: flex;
  flex-flow: column;
  width: 95%;
  margin-top: 15px;
}
.search form select {
  padding: 15px 0 15px 5px;
  font-size: 0.9em;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
}
.search form input[type=submit] {
  border-radius: 25px;
  border: none;
  padding: 10px;
  background-image: linear-gradient(#FEC620, #FED65D);
}
.search form input[type=submit]:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  width: 75%;
  align-self: center;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  background-color: #EBFDFF;
  text-align: center;
  padding-top: 30px;
  overflow: auto;
}

.box-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.primary-box {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  margin: 20px;
}
.primary-box h2 {
  margin-top: 0;
}

@media screen and (min-width: 834px) {
  .banner img {
    max-width: 25%;
  }

  .navigation {
    padding-top: 10px;
    width: 95%;
  }
  .navigation ul li {
    margin: 5px;
    width: unset;
    text-align: center;
  }

  #lucrative {
    flex-grow: 0;
  }

  #lucrative, #faq {
    margin: 5px;
  }

  .search {
    display: flex;
    flex-flow: column;
    padding: 15px 0;
  }
  .search .search-label {
    align-self: center;
  }
  .search .search-label p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .search form {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  .search form select {
    width: 50%;
  }
  .search form input[type=submit] {
    width: 25%;
    height: 50px;
    margin-left: 15px;
  }
  .search form input[type=submit]:hover {
    cursor: pointer;
  }

  .box-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .primary-box {
    width: 35%;
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
  }
  .primary-box h2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 1440px) {
  .banner img {
    max-width: 15%;
  }

  #lucrative, #faq {
    margin: 5px;
  }

  .search {
    flex-flow: row nowrap;
    justify-content: center;
  }
  .search .search-label p {
    text-align: left;
  }
  .search form {
    width: 50%;
    justify-content: center;
    margin-left: 15px;
  }
  .search form select {
    width: 75%;
  }

  .subtext {
    text-align: left;
  }

  .box-wrapper {
    align-self: center;
    width: 75%;
  }

  .primary-box {
    background-color: white;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
  }
  .primary-box h2 {
    margin-top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
